# Node.js dependencies
/node_modules/

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de log
*.log

# Directorios y archivos de build
/dist
/build

# Configuraciones de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db
